<div class="container w-100">

  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
    </div>
  </div>

  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify text-monospace">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolore distinctio non illum in modi. Reprehenderit excepturi esse eum autem, cumque eveniet distinctio dolores. Nihil explicabo autem maxime perspiciatis inventore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam commodi ab natus consequatur veniam, rerum optio labore quisquam vitae? Ipsa fugit facere corporis placeat accusantium impedit vitae, aperiam ad nesciunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quidem, tempora, iure impedit veniam incidunt odio explicabo iusto culpa at laboriosam nesciunt minima cumque adipisci nobis obcaecati totam. Eveniet, sequi.
      </p>
    </div>
  </div>
</div>

  <div class="parallax"></div>

  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>


