<div class="container">

  <div class="row">

    <div class="col-md-4">
      <app-perfil-lateral></app-perfil-lateral>
    </div>

    <div class="col-md-8">

      <h3 class="text-center mb-4 text-monospace">Como tem sido minha experiência na Generation?</h3>

      <div class="form-group">
        <label class="text-monospace" for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o seu titulo" [(ngModel)]='postagem.titulo'>
      </div>

      <div class="form-group">
          <label class="text-monospace" for="texto">Texto:</label>
          <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto" [(ngModel)]='postagem.texto'></textarea>
      </div>

      <div class="row d-flex align-items-end">

        <div class="col-md-6">
          <div class="form-group m-0">
            <label class="text-monospace" for="tema">Escolha um tema ou <a routerLink='/cadastro-tema'>Cadastre um novo</a></label>
            <select name="tema" id='tema' class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let item of listaTemas' value={{item.id}}>
                {{item.descricao}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-info w-25" (click)='publicar()'>Publicar</button>
        </div>

      </div>

      <hr class="mt-5 mb-5">

      <nav class="d-flex justify-content-center">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#minhas-postagens"
            role="tab" aria-controls="nav-home" aria-selected="true">Minhas Postagens</a>

          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#postagens-temas" role="tab"
            aria-controls="nav-profile" aria-selected="false">Postagens por tema</a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="minhas-postagens" role="tabpanel" aria-labelledby="nav-postagens-tab">
          <div class="row mt-3 mb-3">
            <div class="col-md-10 pr-0">
              <input class="form-control w-100" type="search" placeholder="Pesquisar postagem" aria-label="Pesquisar" [(ngModel)]='titulo'>
            </div>
            <div class="col-md-2 pl-0">
              <button class="btn btn-outline-warning w-100" type="button" (click)='findByTituloPostagem()'>Pesquisar</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="card mt-5 mb-5"  *ngFor="let item of listaPostagens | orderBy : key : reverse">
                <div class="card-header">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-8">
                            <h5 class="card-title"> {{item.titulo}} </h5>
                            <small>Tema: {{item.tema.descricao}} </small>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">

                            <button class="mr-3 btn btn-outline-info" [routerLink]="['/editar-post', item.id]">
                                Editar
                            </button>

                            <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-post', item.id]">
                                Apagar
                            </button>

                        </div>
                    </div>
                </div>

                <div class="card-body" >
                  <p class="card-text" aria-describedby="texto"> {{item.texto}} </p>
                  <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                    Postado em {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:'HH:mm'}}</small>
                </div>
            </div>
            </div>
          </div>
        </div>




        <div class="tab-pane fade" id="postagens-temas" role="tabpanel" aria-labelledby="nav-presenca-tab">

          <div class="row mt-3 mb-3">
            <div class="col-md-10 pr-0">
              <input class="form-control w-100" type="search" placeholder="Pesquisar postagem" aria-label="Pesquisar" [(ngModel)]='nomeTema'>
            </div>
            <div class="col-md-2 pl-0">
              <button class="btn btn-outline-warning w-100" type="button" (click)='findByNomeTema()'>Pesquisar</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" *ngFor="let item of listaTemas | orderBy : key : reverse">
              <div *ngFor='let post of item.postagem'>

                <div class="card mt-5 mb-5" >
                  <div class="card-header">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12">
                            <h5 class="card-title"> {{post.titulo}} </h5>
                        </div>
                    </div>
                </div>

                <div class="card-body" >
                  <p class="card-text" aria-describedby="texto"> {{post.texto}} </p>
                  <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                    Postado em {{post.data | date: 'dd/MM/yyyy'}} às {{post.data | date:'HH:mm'}}</small>
                </div>

                </div>
            </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
