<div class="container">

  <div class="row mt-5 mb-5">
      <div class="col-md-4">
        <app-perfil-lateral></app-perfil-lateral>
      </div>
      <div class="col-md-8">
        <h3 class="text-center mb-4 text-monospace">Cadastro de um novo tema</h3>

        <div class="form-group">
          <label class="text-monospace" for="texto">Nome do tema:</label>
          <input class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu novo tema" [(ngModel)]='tema.descricao'>
      </div>
      <div class="row mb-5">
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn btn-outline-success w-25" (click)='cadastrar()'>Cadastrar</button>
        </div>
      </div>

      <hr>

      <div class="row mt-5">
        <div class="col-md-12">
          <h4 class="text-center text-monospace">Lista de temas</h4>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col" class="d-flex justify-content-end">Modificações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let item of listaTemas'>
            <th scope="row">{{item.id}}</th>
            <td>{{item.descricao}}</td>
            <td class="d-flex justify-content-end">
              <a class="btn btn-outline-info mr-3" [routerLink]="['/editar-tema', item.id]" >Editar</a>
              <a class="btn btn-outline-danger" [routerLink]="['/delete-tema', item.id]" >Apagar</a>
            </td>
          </tr>

        </tbody>
      </table>


      </div>
  </div>
</div>

