<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Login</h1>
    </div>
  </div>
  <div class="row mb-5 d-flex justify-content-center">
    <div class="col-md-6">
      <div>
        <div class="form-group">
          <label for="usuario">Nome de usuário</label>
          <input type="text" class="form-control" id="usuario" placeholder="Seu nome de usuário cadastrado" [(ngModel)]='userLogin.usuario'>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" [(ngModel)]='userLogin.senha'>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-success w-25 " (click)='entrar()'>Entrar</button>
        </div>

      </div>
    </div>
  </div>
</div>
