<div class="container">

  <div class="row mt-5 mb-5">
      <div class="col-md-4">
        <app-perfil-lateral></app-perfil-lateral>
      </div>
      <div class="col-md-8">

          <div>
              <div class="form-group">
                <label for="titulo">Titulo da postagem</label>
                <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Digite aqui o seu titulo" [(ngModel)]="postagem.titulo">
              </div>

              <div class="form-group">
                  <label for="texto">Texto da postagem</label>
                  <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto" [(ngModel)]="postagem.texto"></textarea>
              </div>

              <div class="form-group m-0">
                <label class="text-monospace" for="tema">Escolha um tema ou <a routerLink="/cadastrar-tema">Cadastre um novo</a></label>
                <select name="tema" id='tema' [(ngModel)]="idTema" (change)="findByIdTema()" class="form-control">
                  <option *ngFor="let item of listaTemas" value={{item.id}}>
                    {{item.descricao}}
                  </option>
                </select>
              </div>

              <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-outline-info w-25" (click)="salvar()">Salvar</button>
              </div>
          </div>

      </div>

  </div>
</div>







