<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-light">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
             <li><a href="#" class="icoFacebook" title="Facebook">
               <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
              </a></li>
             <li><a href="#" class="icoInstagram" title="Instagram">
               <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
              </a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin">
               <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
              </a></li>
            </ul>
    </div>
    </div>

    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright bg-dark text-center py-3 ">
      <span class="text-light"> © 2020 Copyright: </span>
      <a class="text-light" href="https://brasil.generation.org">brasil.generation.org</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

