<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="{{fotoUser}}" alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace">{{nomeUser}}</h5>
    <p class="card-text text-center text-monospace">{{bioUser}}</p>

    <a href="{{linkedin}}" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="{{github}}" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

  </div>
</div>
